
*.db
Online Book Store/.vs/Online Book Store/v17/Browse.VC.db-shm
Online Book Store/.vs/Online Book Store/v17/Browse.VC.db
Online Book Store/.vs/Online Book Store/v17/Browse.VC.db-wal
Online Book Store/.vs/Online Book Store/v17/Browse.VC.opendb
*.vsidx
*.vsidx
Online Book Store/.vs/Online Book Store/FileContentIndex/a4acbf6e-1885-4022-a16d-010351546244.vsidx
Online Book Store/.vs/Online Book Store/FileContentIndex/8831cba2-b2c5-4a58-ada3-79a429b9c30f.vsidx
Online Book Store/.vs/Online Book Store/FileContentIndex/4f85a510-9c45-4f85-a00b-9f3e38d828a4.vsidx
Online Book Store/.vs/Online Book Store/FileContentIndex/a4acbf6e-1885-4022-a16d-010351546244.vsidx
Online Book Store/.vs/Online Book Store/FileContentIndex/475c1c8e-1e94-4e60-99c8-5bd558debf97.vsidx
